<!-- views/success.ejs -->
<!doctype html>
<html>
  <head>
    <title>Google SignIn</title>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"> <!-- load bootstrap css -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css"> <!-- load fontawesome -->
      <style>
          body        { padding-top:70px; }
      </style>
  </head>
  <body>
    <div class="container">
      <div class="jumbotron">
          <h1 class="text-primary  text-center"><span class="fa fa-user"></span> Profile Information</h1>
          <div class="row">
            <div class="col-sm-6">
                <div class="well">
                        <p>
                            <strong>Id</strong>: <%= user.id %><br>
                            <strong>Email</strong>: <%= user.emails[0].value %><br>
                            <strong>Name</strong>: <%= user.displayName %>
                        </p>

                        <b>Connect To QuickBooks</b><br />
                        <a class="imgLink" href="/connect_handler">
                            <img
                            style="height: 40px"
                            src="C2QB_white_btn_lg_default.png"
                            onmouseover="this.src='C2QB_white_btn_lg_hover.png'"
                            onmouseout="this.src='C2QB_white_btn_lg_default.png'"
                            />
                        </a>
                   <div>
                    <a href="/logout" class="right">Logout</a>
                   </div>                       
                </div>
            </div>
        </div> 
      </div>
    </div>
  </body>
</html> 