body {
  
  color: #444444;
}
.b-example-divider {
  height: 3rem;
  background-color: rgba(0, 0, 0, .1);
  border: solid rgba(0, 0, 0, .15);
  border-width: 1px 0;
  box-shadow: inset 0 .5em 1.5em rgba(0, 0, 0, .1), inset 0 .125em .5em rgba(0, 0, 0, .15);
}

@media (min-width: 992px) {
  .rounded-lg-3 { border-radius: .3rem; }
}
.bd-placeholder-img {
        font-size: 1.125rem;
        text-anchor: middle;
        -webkit-user-select: none;
        -moz-user-select: none;
        user-select: none;
      }

      @media (min-width: 768px) {
        .bd-placeholder-img-lg {
          font-size: 3.5rem;
        }
      }
.navbar {
    position: relative;
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding-top: 0.8rem;
    padding-bottom: .8rem;
}	  
	  .navbar .navbar-nav .nav-link {
    color: #474747;
    font-size: 1em;
	font-weight:bold;
	
}
.navbar .navbar-nav .nav-link:hover{
    color: #808080;
}
.navbar-logo-centered .navbar-nav .nav-link{
    padding: .5em 1em;
}
.lead {
    font-size: 1.5rem;
	font-weight: normal;
}
.container-main {
	background-color:#FAFBFF;
	width:100%;
}
.btn-group-lg>.btn, .btn-lg {
    padding: .5rem 1rem;
    font-size: 1.25rem;
    border-radius: 3rem;
}
.btn-primary {
    color: #fff;
    background-color: #3D467E;
    border-color: #263179;
}
.bi {
  vertical-align: -.125em;
  fill: currentColor;
  color:#636273;
}
.h2-color {
	color:#3D467E;
}

.feature-icon {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 5rem;
  height: 5rem;
  margin-bottom: 1rem;
  font-size: 2rem;
  color: #000;
  border-radius: 5rem;
  box-shadow: 1px 1px 10px 0 rgb(87 104 104 / 10%);
}

.icon-link {
  display: inline-flex;
  align-items: center;
}
.icon-link > .bi {
  margin-top: .125rem;
  margin-left: .125rem;
  transition: transform .25s ease-in-out;
  fill: currentColor;
}
.icon-link:hover > .bi {
  transform: translate(.25rem);
}

.icon-square {
  display: inline-flex;
  align-items: center;
  justify-content: center;
  width: 3rem;
  height: 3rem;
  font-size: 1.5rem;
  border-radius: .75rem;
}

.rounded-4 { border-radius: .5rem; }
.rounded-5 { border-radius: 1rem; }

.text-shadow-1 { text-shadow: 0 .125rem .25rem rgba(0, 0, 0, .25); }
.text-shadow-2 { text-shadow: 0 .25rem .5rem rgba(0, 0, 0, .25); }
.text-shadow-3 { text-shadow: 0 .5rem 1.5rem rgba(0, 0, 0, .25); }

.card-cover {
  background-repeat: no-repeat;
  background-position: center center;
  background-size: cover;
}
@media (min-width: 1024px){
.hero1 {
    background-attachment: fixed;
}}
.hero1 {
    width: 100%;
    height: 100vh;
    background: url(../img/hero-bg.png) top center no-repeat;
    background-size: cover;
}
.lh-1 {
    line-height: 1.3 !important;
}
.how-text {	
    display: inline-block;
    width: 40%;
    text-align: center;
    align-items: center;

}
.feature-icon1 {
    display: inline-flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 5rem;
    margin-bottom: 1rem;
    font-size: 2rem;
    color: #000;
    border-radius: 0rem;
    
}
.hero-img {
  width: 100%;
  
  background: url(images/hero-bg.png) top center no-repeat;
  background-size: cover;
  
}
.fw-bold {
	color:#3D467E
}
.bg-dark {
    background-color: #00062B!important;
}

.form-signin {
  width: 100%;
  max-width: 330px;
  padding: 15px;
  margin: auto;
}

.form-signin .checkbox {
  font-weight: 400;
}

.form-signin .form-floating:focus-within {
  z-index: 2;
}
.form-floating {
	margin-bottom:1rem;
}
.form-signin input[type="email"] {
  margin-bottom: -1px;
  border-bottom-right-radius: 0;
  border-bottom-left-radius: 0;
}

.form-signin input[type="password"] {
  margin-bottom: 10px;
  border-top-left-radius: 0;
  border-top-right-radius: 0;
}
.pull-right {
	float:right;
}
.small-text {
	font-size: 14px;
}

/*
 * Sidebar
 */

.sidebar {
  position: fixed;
  top: 0;
  /* rtl:raw:
  right: 0;
  */
  bottom: 0;
  /* rtl:remove */
  left: 0;
  z-index: 100; /* Behind the navbar */
  padding: 48px 0 0; /* Height of navbar */
  box-shadow: 1px 0px 20px rgb(0 0 0 / 8%);
  background-color: rgb(250, 251, 255);
  
}

@media (max-width: 767.98px) {
  .sidebar {
    top: 5rem;
  }
}

.sidebar-sticky {
  position: relative;
  top: 0;
  height: calc(100vh - 48px);
  padding-top: .5rem;
  overflow-x: hidden;
  overflow-y: auto; /* Scrollable contents if viewport is shorter than content. */
}

.sidebar .nav-link {
  font-weight: 500;
  color: #333;
}

.sidebar .nav-link .feather {
  margin-right: 4px;
  color: #727272;
}

.sidebar .nav-link.active {
  color: #007bff;
}

.sidebar .nav-link:hover .feather,
.sidebar .nav-link.active .feather {
  color: inherit;
}

.sidebar-heading {
  font-size: .75rem;
  text-transform: uppercase;
}
/*
 * Navbar
 */

.admin .navbar-brand {
  padding-top: .75rem;
  padding-bottom: .75rem;
  font-size: 1.3rem;
  background-color: rgb(250, 251, 255);
  
}
.admin .nav-link {    
    padding: .7rem 1rem !important;
}
.admin .navbar .navbar-toggler {
  top: .25rem;
  right: 1rem;
}

.admin .navbar .form-control {
  padding: .75rem 1rem;
  border-width: 0;
  border-radius: 0;
}

.form-control-dark {
  color: #fff;
  background-color: rgba(255, 255, 255, .1);
  border-color: rgba(255, 255, 255, .1);
}

.form-control-dark:focus {
  border-color: transparent;
  box-shadow: 0 0 0 3px rgba(255, 255, 255, .25);
}
.sticky-top {
    position: -webkit-sticky;
    position: sticky;
    top: 0;
    z-index: 1020;
}
.feather {
  width: 16px;
  height: 16px;
  vertical-align: text-bottom;
}
.icons {
      display: grid;
      max-width: 100%;
      grid-template-columns: repeat(auto-fit, minmax(100px, 1fr) );
      gap: 1.25rem;
    }
    .icon {
      background-color: var(--bs-light);
      border-radius: .25rem;
    }
    .bi {
      margin: .25rem;
      font-size: 1.2rem;
    }
    .label {
      font-family: var(--bs-font-monospace);
    }
    .label {
      display: inline-block;
      width: 100%;
      overflow: hidden;
      padding: .25rem;
      font-size: .625rem;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
	
	.admin .navbar-dark .navbar-brand {
    color: rgba(0, 0, 0, 0.9);
}
.admin .bg-dark {
    background-color: #fff !important;
}
.admin main {
	background-color: #f2f4f5;
}
.card { 
    border: 0px solid rgba(0,0,0,.125);
    border-radius: .1rem;
}
.card-body {
    padding: 1.25rem !important;
}
.table>:not(caption)>*>* {
    padding: 1rem 1rem;
}
.footer {
    padding: 15px 20px;
}

.admin .navbar-toggler {
    background-color: #ccc;
}
.admin .navbar-dark .navbar-toggler {
	border-color: #ccc
}